.center {
	text-align: center
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

a, a:hover, a:visited, a:active {
	color: #bada55
}

#header {
	position: absolute;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #005ca8;
	border-bottom: 1px solid #00325c
}

#header ul {
	text-align: center;
	margin-top: 15px
}

#header ul li {
	display: inline;
	margin: 15px
}

body {
	background-color: #a8d8ff;
	font-size: 14px;
	overflow-y: scroll
}

#content {
	margin-top: 60px;
	margin-bottom: 120px;
	padding: 20px
}

#content a, #content a:visited, #content a:active {
	color: #647b1b
}

#footer {
	position: fixed;
	bottom: 0;
	height: 120px;
	border-top: 1px solid #001629;
	background-color: #004075;
	border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	width: 100%;
	text-align: center;
	font-size: 12px
}

#footer p {
	max-width: 600px;
	margin: 15px auto
}